.pill {
  width: 313px;
  height: 108px;
  padding: 20px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 10px;
}

.pill .section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.pill .section-1 figure {
  margin-right: 10px;
  height: 51px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  background: #FFFF;
  border-radius: 50%;
}

.pill .section-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pill .section-1 figure img {
  width: 28px;
  height: 28px;
}

.pill .details-container h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #344054;
}

.pill .details-container .balance {
  font-size: 14px;
  color: #344054;
  font-weight: 400;
}

.pill .details-container .currency{
  font-weight: 700;
  color: #344054;
  font-size: 12px;
}
