.form-container {
  width: 750px;
  height: 434px;
  padding: 20px;
  align-items: center;
  border: 1px solid #d0d5dd;
  background: White;
  border-radius: 8px;
}

.form-container h1 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  color: #667085;
}

.personal-form label {
  font-weight: 600;
  font-size: 14px;
  color: #344054;
  display: block;
  margin-top: 15px;
  margin-bottom: 8px;
}

.personal-form input {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  display: block;
  font-size: 16px;
  color: #667085;
  margin-bottom: 20px;
  width: 350px;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
    height: 426px;
  }

  .personal-form input {
    width: 100%;
    height: 44px;
    font-size: 15px;
  }
}
