.g-button-style{
  padding: 8px 26px;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  transition: all .4s ease;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
  display: 
  flex;
  justify-content: center;
}

.g-button-style:hover{
  opacity: 0.7;

}

.g-button-style img{
  height: 22px;
  margin-right: 8px;
}