.grayed_out {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.grayed_out::before {
  content: "Coming Soon";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.LeaderMain_wrapper {
  padding-bottom: 50px;
  background: #fcfcfd;
}

.LeaderMain_hero {
  background-color: #E6F5F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.LeaderMain_hero h2 {
  color: #344054;
  font-weight: 500;
}

.LeaderMain_hero p {
  color: #667085;
  font-size: 15px;
  margin: 12px 0;
}

.LeaderMain_middle {
  padding: 20px 50px 0 50px;
}

.LeaderMain_tit_flex {
  display: flex;
  border-radius: 10px;
  padding: 20px 10px;
  background-color: #e4e7ec;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15),
    0px 0px 1px rgba(9, 30, 66, 0.31);
}

.LeaderMain_tit_flex select {
  padding: 10px;
  outline: 0;
  border-radius: 8px;
  width: 250px;
  margin-left: 20px;
  border: 1px solid #8bc34a;
  cursor: pointer;
}

select option:hover {
  background: #8bc34a;
  cursor: pointer;
}

.trow {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #eef6e4;
  margin-bottom: 10px;
  padding: 20px 15px;
}

.LeaderMain_board {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .LeaderMain_tit_flex {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 496px) {
  .LeaderMain_tit_flex select {
    margin-left: 0;
  }
}
